.simplenetspeed-label {
    text-align: right;
    margin-left: 1px;
    margin-right: 2px;
}
.simplenetspeed-mode-0 {
    /*color: purple;*/
    width: 5.5em;
}
.simplenetspeed-mode-1 {
    /*color: blue;*/
    width: 5em;
}
.simplenetspeed-mode-2 {
    /*color: red;*/
    width: 10.5em;
}
.simplenetspeed-mode-3 {
    /*color: green;*/
    width: 8.5em;
}
.simplenetspeed-mode-4 {
    /*color: orange;*/
    width: 5em;
}

/*.simplenetspeed-static-icon {
    font-size: 14px;
    width: 15px;
    text-align: left;
}

.simplenetspeed-icon {
    font-size: 12px;
    width: 14px;
    text-align: center;
    color: lime;
}*/
