/* For all elements */
.forall {
    text-align: right;
    margin: 0 8px;
    min-width: 6.5em;
}

/* Font change on middle click*/
.size-0 {
    font-size: 1em;
}

.size-1 {
    font-size: .65em;
}

.size-2 {
    font-size: .7em;
}

.size-3 {
    font-size: .9em;
}

.size-4 {
    font-size: 1.1em;
}