.simplenetspeed-label {
    width: 7em;
    text-align: right;
    margin-left: 1px;
    margin-right: 2px;
    font-size: 1em;
}

.simplenetspeed-label-w {
    width: 10em;
    text-align: right;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 1em;
}

.simplenetspeed-label-1 {
    width: 7em;
    text-align: right;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .65em;
}

.simplenetspeed-label-w-1 {
    width: 10em;
    text-align: right;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .65em;
}

.simplenetspeed-label-2 {
    width: 7em;
    text-align: right;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .7em;
}

.simplenetspeed-label-w-2 {
    width: 10em;
    text-align: right;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .7em;
}

.simplenetspeed-label-3 {
    width: 7em;
    text-align: right;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .9em;
}

.simplenetspeed-label-w-3 {
    width: 10em;
    text-align: right;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .9em;
}

.simplenetspeed-label-4 {
    width: 7em;
    text-align: right;
    margin-left: 1px;
    margin-right: 2px;
    font-size: 1.1em;
}

.simplenetspeed-label-w-4 {
    width: 10em;
    text-align: right;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 1.1em;
}

/*.simplenetspeed-static-icon {
    font-size: 14px;
    width: 15px;
    text-align: left;
}

.simplenetspeed-icon {
    font-size: 12px;
    width: 14px;
    text-align: center;
    color: lime;
}*/
