/* For all elements */
.simplenetspeed-label, .simplenetspeed-label-1, .simplenetspeed-label-2, .simplenetspeed-label-3, .simplenetspeed-label-4, .simplenetspeed-label-w, .simplenetspeed-label-w-1, .simplenetspeed-label-w-2, .simplenetspeed-label-w-3, .simplenetspeed-label-w-4{
    text-align: center;
    margin-left: 1px;
}

/* For elements without w */
.simplenetspeed-label, .simplenetspeed-label-1, .simplenetspeed-label-2, .simplenetspeed-label-3, .simplenetspeed-label-4  {
    width: 4.5em;
    margin-right: 2px;}

/* For elements without w */
.simplenetspeed-label-w, .simplenetspeed-label-w-1, .simplenetspeed-label-w-2, .simplenetspeed-label-w-3, .simplenetspeed-label-w-4 {
    width: 69em;
    margin-right: 1px;}


.simplenetspeed-label, .simplenetspeed-label-w {
    font-size: 1em;
}

.simplenetspeed-label-1, .simplenetspeed-label-w-1 {
    font-size: .65em;
}

.simplenetspeed-label-2, .simplenetspeed-label-w-2 {
    font-size: .7em;
}

.simplenetspeed-label-3, .simplenetspeed-label-w-3 {
    font-size: .9em;
}

.simplenetspeed-label-4, .simplenetspeed-label-w-4 {
    font-size: 1.1em;
}

/*.simplenetspeed-static-icon {
    font-size: 14px;
    width: 15px;
    text-align: left;
}

.simplenetspeed-icon {
    font-size: 12px;
    width: 14px;
    text-align: center;
    color: lime;
}*/

